<!DOCTYPE html>
<html>
<head>
 <title>Search Movies</title>
 <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
 
 </head>
<body class="my-body-bg text-light">
<nav class="navbar navbar-dark my-bg">
  <h2>Movie Search</h2>
    <span class="navbar-text">
      Searches movies from IDbM Website
    </span>
  </div>
</nav> <br>

